// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.topPage,
.confirmPage {
  margin: 100px 0;
  .btn-primary,
  .btn-info {
    width: 200px;
    padding: 10px;
  }
}
